/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --main-title-color: #DB00FF;
  background-image: url(../images/cover-image-dark.png);
}

.header__theme-menu-button {
  color: var(--accent-color, #FF0070);
}

.header__subtitle {
  color: var(--title-color-dark-theme, #000028);
}

@media (prefers-color-scheme: dark) {

  :root {
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --main-title-color: #DB00FF;    
  }
}